@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

* { box-sizing: border-box; margin: 0; transition: all .3s ease; }

body {
	color: #333;
	background-color: #fefefe;
	font-family: 'Poppins', sans-serif;
}

:root { font-size: 16px; }
@media only screen and (min-width: 50em) { :root { font-size: 22px; } }
@media only screen and (min-width: 25em) and (max-width: 50em) { :root { font-size: calc(16px + (22 - 16) * ((100vw - 25em) / (800 - 400))); } }

p, kbd, button { font-size: 1.1rem; font-size: calc(100% + .15vw); }
kbd i { font-size: 1rem; font-size: calc(90% + .1vw); }
h1 { font-size: 2rem;   font-size: calc(100% + 1.2vw); }
h2 { font-size: 1.6rem; font-size: calc(100% + 1vw);   }
h3 { font-size: 1.4rem; font-size: calc(100% + .8vw);  }
h4 { font-size: 1.2rem; font-size: calc(100% + .67vw); }
h5 { font-size: 1rem;   font-size: calc(100% + .5vw);  }
h6 { font-size: .9rem;  font-size: calc(100% + .25vw); }

.wrapper { width: 100%; text-align: center; }

button:not(.inputWrapper *) {
	color: #fff;
	background-color: #1a6ce9;
	padding: 10px;
	border-radius: 5px;
	outline: none;
	border: none;
	cursor: pointer;
}

button:hover {
	color: #fff;
	background-color: #1158c4;
}

input[type="text"] {
	outline: none;
	font-size: calc(70% + 1vw);
	padding: 5px;
	width: 50%;
	min-width: 250px;
	border-radius: 5px;
	border: 3px solid #444;
}

input[type="text"]:focus { border-color: #3787ff; }

.heading { margin: 20px auto; }
#html-output { white-space: nowrap; display: inline-block; }

#output-location { width: 100%; border-radius: 3px; margin: 20px auto; padding: 0 20px; }
#output-location:not(kbd) { font-size: calc(70% + 1vw); font-weight: 600; }

.style-radio:not(.style-radio:last-child) { margin-right: 10px; }
#img-preview img { max-width: 100%; max-height: 40vh; }

#github-stars { position: fixed; bottom: 5px; right: 10px; }
.web-usage { position: absolute; bottom: 5px; left: 5px; font-size: 1.5rem; color: #3787ff; }
.web-usage:hover { color: #427fdb; }

.style-radio { display: inline-block; }
.controls { max-height: 50vh; user-select: none; }

#preview-div { display: none; max-height: 45vh; border: 1px dashed; margin: 20px 15px; }
#preview-div p:first-of-type { margin-top: 10px; user-select: none; }